{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Fila do dia
            </div>
            <div class="card-body">

                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th >Horário</th>
                                <th >Nome</th>
                                <th>Turma</th>
                            </tr>
                        </thead>
                        <tbody>                          
                            {% for aluno in aluno%}
                                {% if aluno.turma == '1AB' or aluno.turma == '1BII' or aluno.turma == '1AII' or aluno.turma == '1AA' or aluno.turma == '1BA' %}
                                    <tr>
                                        <td>
                                            <p>11:00</p> 
                                        </td>                                      
                                        <td>
                                            <p>{{aluno.nome }} </p>
                                        </td>
                                        <td>
                                            <p>{{aluno.turma }} </p>
                                        </td>
                                    </tr>
                                {% else %}
                                {% endif %}
                            {% endfor %} 
                            {% for aluno in aluno %}
                            {% if aluno.turma == '2AB' or aluno.turma == '2BII' or aluno.turma == '2AII' or aluno.turma == '2AA' or aluno.turma == '2BA' %}
                                    <tr>
                                        <td>
                                            <p>11:15</p>
                                        </td>
                                        <td>
                                            <p>{{aluno.nome }} </p>
                                        </td>
                                        <td>
                                            <p>{{aluno.turma }} </p>
                                        </td>
                                    </tr>
                                {% else %}
                            {% endif %}
                            {% endfor %}

                            {% for aluno in aluno %}
                            {% if aluno.turma == '3AB' or aluno.turma == '3BII' or aluno.turma == '3AII' or aluno.turma == '3AA' or aluno.turma == '3BA' %}
                                <tr>
                                    <td>
                                        <p>11:30</p>
                                    </td>
                                    <td>
                                        <p>{{aluno.nome }} </p>
                                    </td>
                                    <td>
                                        <p>{{aluno.turma }} </p>
                                    </td>
                                </tr>
                            {% else %}
                        {% endif %}
                        {% endfor %}                           
            </div>
        </div>
    </div>
</div>

{% endblock %}